{% extends "base.html" %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <hr>
    <h5> Últimos productos </h5>
    <ul>
      {% for producto in latest_products %}
        <div class="columns is-multiline">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible">
                    </figure>
                </div>
                <div class="card-content">
                    <h6>
                        <a href="{% url 'product_detail' producto.pk %}">
                            {{ producto.nombre }}
                        </a>
                    </h6>
                    <p>$ {{ producto.precio }}</p>
                </div>
            </div>
        </div>
        </div>

      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </ul>
    <hr>



{% endblock %}


